
/* Header e navbar */

header{
    position: fixed;
    width: 80%;
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px ;
    padding-bottom: 20px;
    border-bottom: black 1px solid;
    
}

.navbar{
    text-align:right;
}

.menu{
    padding-right: 15px;
}

.menu a{
    text-decoration: none;
    color: #333;
}

.navbar button{
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 20px;
}




/* Primo blocco */

.yellowBlock{
    display: flex;
   justify-content: space-between;
    width: auto;
    height: auto;
    background-color: #ffc017;
    padding-left: 10%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.yellowBlock img{
    width:50%;
}

h1{
    
    font-size: 80px;
    padding-bottom: 15px;
    padding-top: 100px;
}

.subtitle{
    font-size: 20px;
    font-weight: lighter;
}

.yellowBlock button{
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: black;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

/* Trending links */

.secondBlock{
    border-bottom: #bbb 1px solid;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
}

.trendingContainer{
    display:flex;
    padding-bottom: 20px;
    
}

.trending-item {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    width: 33%;
}

.rank {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    color: #bbb;
}

.content {
    padding-right: 20px;
}

.author {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #888;

}

.author img{
    border-radius: 100%;
    height: 25px;
    
    
}

h3{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: #333;
}

.date {
    font-size: 14px;
    color: #bbb;
    display: flex;
    align-items: center;
    
}

.mediumArticle .dateStar{
    justify-content: space-between;
}

/* third block */

.thirdBlock{
    display: flex;
    flex-direction: row-reverse;
    
}

h2{
    padding-top: 15px;
    padding-bottom:15px ;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.end{
    padding-top: 25px;
    padding-right:10%;
}

.more{
    border-bottom: #bbb 1px solid;
    padding-bottom: 25px;
}

.more button{
    color: #333;
    border-color: #bbb;
    padding: 10px;
    margin: 5px;
    background-color: white;

}

.footer{
    padding-top: 25px;

}

.footer a{
    color: #333;
    padding-right: 20px;
    margin-top: 15px;
    text-decoration: none;
}

/* fourth block */

.latestArticles{
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 15px;
    
}

.mediumArticle{
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.imageContent {
    max-width: 35%;
}

.imageContent img {
    width: 100%;
    height: auto;
}

.bookmark{
    padding-left: 50%;

}











